<%- include('../partials/header') %>

      <form id="add-ticket-form" action="/flights/<%= flight._id %>/tickets" method="POST">
        <label><strong>No.:</strong></label>
        <select name="seatLet">
            <option value="">--Choose a Seat Letter--</option>
            <option value="A">A</option>
            <option value="B">B</option>
            <option value="C">C</option>
            <option value="D">D</option>
            <option value="E">E</option>
            <option value="F">F</option>
        </select>
        <select name="seatNum">
                <option value="">--Choose a Seat Number--</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
        </select>
        <br>
        <br>
        <label><strong>Price:</strong></label>
        <select name="price">
            <option value="">--Select a Price--</option>
            <option value="100">$100</option>
            <option value="200">$200</option>
            <option value="300">$300</option>
        </select>
        <br>
        <br>
        <input type="submit" value="Add Ticket">
      </form>

<%- include('../partials/footer') %>